@import url('https://unpkg.com/normalize.css') layer(normalize);

@layer normalize, base, demo;

@layer demo {
#restart-roulette,
#hide-roulette {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  background: linear-gradient(90deg, red, purple);
  background-size: 200% 100%;
  color: white;
  border: 3px solid;
  border-image: linear-gradient(90deg, red, purple) 1;
  border-image-slice: 1;
  border-radius: 30px;
  cursor: pointer;
  animation: gradientAnimation 5s linear infinite;
  font-size: 4vw;
  font-weight: bold;
  box-sizing: border-box;
  width: 80%; /* Относительная ширина */
  max-width: 250px; /* Максимальная ширина */
}

@keyframes gradientAnimation {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
